
@import '../../../assets/style/_variables';

.subscribe-container {
    background: no-repeat right top color(primary,base);
    min-height: 100vh;
    height: 100%;
    background-size: 65%;
    width: 100%;
    position: relative;
}